/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/*
  My CSS Reset Rules
*/
* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

/*
  And the rest!
*/

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 100px minmax(auto, 1fr) / minmax(auto, 250px) auto;
}

.header {
  background-color: hsl(0deg 0% 20%);
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}

h1 {
  color: white;
}

.navbar {
  background-color: hsl(0deg 0% 70%);
}

.project {
  background-color: hsl(0deg 0% 90%);
}

.enter-project {
  display: none;
}

.navbar li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.navbar li:hover {
  background-color: white;
}

.add-project {
  display: block;
}

.project-link {
  display: flex;
}

.project-link > span {
  flex-grow: 1;
}